.authors {
    @extend .home;
    &-search-bar {
        display: block;
        margin: auto;
        padding: 10px;
        width: 50%;
        border: 5px solid $background-color; 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1.6rem; 
        font-family: inherit;
        outline: none;
    }

    img {
        display: block;
        margin: auto;
        width: 50%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &-search {
        @extend .categories-search;
        padding-bottom: 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        h2 {
            padding: 10px 0;
            font-weight: bold;
            font-size: 1.875rem; 
            background-color:$hover-color ;
            color: $font-color;
        }

        li {
            h3 {
                cursor: pointer;
                &:hover {
                    color: $hover-color
                }
            }

            h4 {
                padding: 20px 10px;
                font-size: 1.5rem; 
            }
        }
    }

    ::placeholder {
        font-weight: bold;
        color: $background-color;
    }
} 

@media only screen and (max-width: 1350px) {

    .authors {
        &-search-bar {
            width: 70%;
            font-size: 1.4rem; 
        }

        img {
            width: 70%;
        }

        &-search {
            h2 {
                font-size: 1.7rem;       
            }

            li h4 {
                font-size: 1.375rem;   
            }
        }
    }
}

@media only screen and (max-width: 1200px) {

    .authors {
        &-search-bar {
            font-size: 1.25rem; 
        }

        &-search {
            h2 {
                font-size: 1.4rem; 
            }

            li h4 {
                font-size: 1.25rem;   
            }
        }
    }
}

@media only screen and (max-width: 820px) {

    .authors {
        &-search-bar {
            width: 70%;
            font-size: 1.2rem; 
        }

        &-search li h4 {
            font-size: 1.2rem; 
        }
    }
}

@media only screen and (max-width: 640px) {

    .authors {
        &-search-bar, 
            img {
                width: 90%;
            }

        &-search {
            h2 {
                font-size: 1.2rem; 
            }
            
            li h4 {
                font-size: 1rem; 
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    .authors {
        &-search-bar {
            font-size: 1rem; 
        }
        
        &-search {
            h2 {
                font-size: 1.1rem; 
            }

            li h3:hover {
                color: $font-color; 
                &:active {
                    background-color: $hover-color;
                }
            } 
        }  
    }
}