.categories {
    @extend .home;
    ul li {
        position: relative;
        img {
            max-height: 400px; 
            width: 50%; 
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
  
        div {
            position: absolute; 
            bottom: 1px;
            left: 0;
            right: 0;
            margin: auto;
            width: 50%; 
            text-align: center;
            background: rgb(61, 61, 61); 
            color: $font-color;
            h2 {
                margin: center;
                padding: 10px;
                text-align: center;
                line-height: 1.8rem;
                font-weight: bold;
                font-size: 1.8rem;
            }
        }
    }
  
    &-button {
        display: block;
        margin: auto;
        padding: 30px 0;
        width: 50%;
        border-top: 2px solid $font-color;
        cursor: pointer;
        transition: 0.4s;
        text-align: center;
        font-size: 1.875rem;
        font-weight: bold;
        font-family: inherit;
        background-color: $background-color;
        color: white;
    }
  
    &-button:nth-child(11) {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
  
    .active-categories__button,
    &-button:hover {
        background-color: $hover-color; 
    }
  
    &-search {
        display: none;
        margin: auto;
        width: 50%;
        overflow: hidden;
        background-color: $background-color;
        color: $font-color;
        li {
            border: solid 1px $hover-color;
            font-weight: bold;
            font-family: $font-family;
            h3 {
                margin: auto;
                padding: 30px 20px;
                text-align: center;
                font-style: italic;
                font-weight: bold;
                font-size: 1.5rem;
            }
            
            p {
                margin-left: 40%;
                padding: 10px;
                width: 60%;
                border-top-left-radius: 50px;
                text-align: center;
                font-size: 1.6rem;
                background-color: $hover-color;
            }
        }
    } 
}
   
@media only screen and (max-width: 1350px) {
  
    .categories {
        ul li { 
            img,
            div {
                width: 70%;
                h2 {
                    font-size: 1.7rem; 
                }
            }
        }
        
        &-button {
            width: 70%;
            font-size: 1.7rem;
        }
  
        &-search {
            width: 70%;
            li {
                h3 {
                    font-size: 1.375rem;
                }
  
                p {
                    padding: 8px;  
                    font-size: 1.4rem;      
                }
            }
        }
    }
}
  
@media only screen and (max-width: 1200px) {
  
    .categories {
        ul li {
            div h2 {
                font-size: 1.6rem;
            }
        }
        
        &-button {
            font-size: 1.6rem;
        }
        
        &-search li {
            h3, 
            p {
                font-size: 1.25rem;
            }
        }
    }
}

  
@media only screen and (max-width: 1000px) {
  
    .categories {
        ul li {
            div h2 {
                padding: 8px 5px;
                line-height: 1.5rem;
                font-size: 1.4rem; 
            } 
        }
    
        &-button {
            padding: 20px;
            font-size: 1.4rem;
        }   
    }
}

@media only screen and (max-width: 820px) {
  
    .categories {
        ul li {
            div h2 {
                font-size: 1.2rem; 
                line-height: 1.3rem;   
            }
        }
        
        &-button {
            font-size: 1.2rem;
        }
        
        &-search li {
            h3 {
                padding: 20px 10px;
                font-size: 1.2rem;
            }

            p {
                margin-left: 30%;
                padding: 6px;
                width: 70%;
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
  
    .categories {
        ul li { 
            img, 
            div {
                width: 90%;
            }
        }
          
        &-button, 
        &-search {
            width: 90%;
        }
    }
}
   
@media only screen and (max-width: 500px) {
  
    .categories {
        ul li {
            div h2 {
                padding: 5px;
                font-size: 1.1rem;
            }
        }
        
        &-button {
            font-size: 1.1rem;
            &:hover {
                background-color: $background-color; 
                &:active {
                    background-color: $hover-color;
                }
            }
        }
  
        &-search li {
            h3 {
                padding: 15px 10px;
                font-size: 1rem;
            }

            p {
                margin-left: 0;
                width: 100%;
                border-top-left-radius: 0;
                font-size: 1rem;
            }
        }
    }
}