.daily-quotes {
    @extend .home;
    h1 {
        margin: auto auto 20px; 
    }
  
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  /* same sized column */
        column-gap: 50px;
        row-gap: 30px;
        margin: auto;
        width: 70%;
        li:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }
        
        li:nth-child(2) {
            grid-column: 2;
            grid-row: 1; 
        }
        
        li:nth-child(3) {
            grid-column: span 2;
            grid-row: 2;
            img {
                max-width: 50%;
            }
        }

        li {
            h2 {
                padding: 20px 0 10px;
                text-decoration: underline;
                font-weight: bold;
                font-size: 1.875rem;
                font-family: $font-family;
            }
  
            img {
                margin-bottom: -10px;
                max-width: 100%;
                height: auto;
                border-top-right-radius: 80px;
                border-top-left-radius: 80px;
            }
    
            .daily-quotes__love,
            .daily-quotes__success,
            .daily-quotes__health {
                @extend .home-random;
                margin: auto;
                height: 8rem;
                border-bottom-left-radius: 35px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                #daily-quotes__text__love, 
                #daily-quotes__text__success, 
                #daily-quotes__text__health {
                    @extend .hyphens;
                    @extend .home-random__quote;
                    font-size: 1.5rem;
                }
            }

            .daily-quotes__love,
            .daily-quotes__success {
                width: 100%;
            }
    
            .daily-quotes__health {
                width: 50%;
            }
    
            #daily-quotes__author__love, 
            #daily-quotes__author__success, 
            #daily-quotes__author__health {
                @extend .home-author;
                margin-left: 30%;
                padding: 15px 0;
                height: inherit;
                width: 70%;
                font-size: 1.5rem;
            }
    
            #daily-quotes__author__health {
                margin-left: 40%;
                width: 35%;
            }
        }
    } 
} 
 
@media only screen and (max-width: 1612px) {
  
    .daily-quotes ul li {
        h2 {
            font-size: 1.72rem;
        }

        .daily-quotes__love,
        .daily-quotes__success,
        .daily-quotes__health {
            height: 9.8rem;
            #daily-quotes__text__love, 
            #daily-quotes__text__success, 
            #daily-quotes__text__health {
                font-size: 1.4rem;
            }
        }

        #daily-quotes__author__love, 
        #daily-quotes__author__success, 
        #daily-quotes__author__health {
            font-size: 1.4rem;
        }     
    }
}

@media only screen and (max-width: 1350px) {
  
    .daily-quotes ul li {
        .daily-quotes__love,
        .daily-quotes__success,
        .daily-quotes__health { 
            height: 8.6rem;
            #daily-quotes__text__love, 
            #daily-quotes__text__success, 
            #daily-quotes__text__health {
                font-size: 1.3rem;
            }
        }

        #daily-quotes__author__love, 
        #daily-quotes__author__success, 
        #daily-quotes__author__health {
            font-size: 1.3rem;
        }    
    }
}

@media only screen and (max-width: 1200px) {
    
    .daily-quotes ul {
        grid-template-columns: repeat(1, 1fr); 
        row-gap: 10px;
        width: 90%;
        li:nth-child(2) {
            grid-column: 1;
            grid-row: 2; 
        }
        
        li:nth-child(3) {
            grid-column: span 1;
            grid-row: 3;
            img {
                max-width: 60%;
            }
        }

        li {
            h2 {
                font-size: 1.6rem;
            }

            img {
                max-width: 60%;
            }
            
            .daily-quotes__love,
            .daily-quotes__success,
            .daily-quotes__health {
                width: 60%;
                height: 6rem;
                #daily-quotes__text__love, 
                #daily-quotes__text__success, 
                #daily-quotes__text__health {
                    font-size: 1.2rem;
                }
            }
        
            #daily-quotes__author__love, 
            #daily-quotes__author__success, 
            #daily-quotes__author__health {
                margin-left: 40%;
                width: 40%;
                font-size: 1.2rem;
            }
        }
    }
}  

@media only screen and (max-width: 1000px) {
  
    .daily-quotes ul li h2 {
        font-size: 1.4rem;
    }
}
  
@media only screen and (max-width: 820px) {
  
    .daily-quotes ul li {
        .daily-quotes__love,
        .daily-quotes__success,
        .daily-quotes__health {
            height: 7.5rem;
            #daily-quotes__text__love, 
            #daily-quotes__text__success, 
            #daily-quotes__text__health {
                font-size: 1.1rem;
            }
        }
        
        #daily-quotes__author__love, 
        #daily-quotes__author__success, 
        #daily-quotes__author__health {
            margin-left: 35%;
            height: 3.5rem;
            width: 45%;
            font-size: 1.1rem;
        } 
    }
} 
  
@media only screen and (max-width: 645px) {
  
    .daily-quotes ul {
        li:nth-child(3) img { 
            max-width: 80%;
        }
        
        li {
            img {
                max-width: 80%;
            }

            .daily-quotes__love,
            .daily-quotes__success,
            .daily-quotes__health {
                height: 7.7rem;
                width: 80%;
            } 
        
            #daily-quotes__author__love, 
            #daily-quotes__author__success, 
            #daily-quotes__author__health {
                margin-left: 30%;
                width: 60%;
            }
        }
    }
} 
  
@media only screen and (max-width: 500px) {
  
    .daily-quotes {
        h1 {
            margin: auto auto 10px;
        }
        
        ul {
            li:nth-child(3) img {
                max-width: 100%;
            }

            li {
                h2 {
                    padding: 10px 0;
                    font-size: 1.1rem;
                }

                img {
                    max-width: 100%;
                }

                .daily-quotes__love,
                .daily-quotes__success,
                .daily-quotes__health {
                    width: 100%;
                    height: 6.5rem;
                    border-bottom-left-radius: 0;
                    #daily-quotes__text__love, 
                    #daily-quotes__text__success, 
                    #daily-quotes__text__health {
                        font-size: 1rem;
                    }
                }

                #daily-quotes__author__love, 
                #daily-quotes__author__success, 
                #daily-quotes__author__health {
                    margin-left: 0;
                    height: 3.4rem;
                    width: 100%;
                    font-size: 1rem;
                }
            }
        }
    }
} 