.message {
    h1, 
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    h1 {
        padding: 0 30px 180px;
        font-weight: bold;
        font-size: 2.5rem;
    }
  
    p {
        font-size: 1.875rem;
    }
    
    a {
        color: $background-color;
        &:hover {
            color: lightblue;
        }
    }
}
  
@media only screen and (max-width: 500px) {
  
    .message {
        h1 {
            padding: 0 10px 100px;
            font-size: 1.5rem;
        }
        
        p {
            font-size: 1.125rem;
        }
        
        a {
            &:hover {
                color: $background-color;
            }
        
            &:active {
                color: lightblue;
            }
        }
    }
}