@import 'variables';
@import 'navbar';
@import 'footer';
@import 'home';
@import 'daily_quotes';
@import 'categories';
@import 'authors';
@import 'text_search';
@import 'my_story';
@import 'contact';
@import 'message';
@import 'loader_animation';
@import "../fonts/brands.scss";
@import "../fonts/solid.scss";
@import "../fonts/_icons.scss";
@import url('https://fonts.googleapis.com/css?family=Trykker&display=swap'); //font 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1.25rem;
}

html, 
body {
    height: 100vh;
    scroll-behavior: smooth;
    background: url('../img/bground.webp') $font-color center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5;
    font-family:'Times New Roman', Times, serif;
}

section p {
    text-align: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.highlight {
    font-weight: bold;
    background-color: red;
}

.no-result {
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: $font-color;
}

.hyphens {
    hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
}

.fadeaway {  
    animation-name: fadeaway-random;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fadeaway-random;
    -webkit-animation-duration: 5s;
    -webkit-animation-count: infinite;

    @keyframes fadeaway-random  {
        from {opacity: .5} 
        to {opacity: 1}
    }

    @-webkit-keyframes fadeaway-random  {
        from {opacity: .5} 
        to {opacity: 1}
    }
}

@media screen and (max-width: 1000px) {
    
    html, 
    body {
        margin-top: 28px;
        background-attachment: scroll;
        background-size: 1000rem;
    }

    section p {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 500px) {
    
    section p {
        font-size: 0.95rem;
    }
}