.text-search {
    @extend .authors;
    #text-search-bar {
        @extend .authors-search-bar;
    }

    img {
        max-height: 640px;
    }
    
    #text-search {
        @extend .authors-search;
        li {
            p {
                color: $font-color;
            }
        }
    }
}